<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .outer-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 95vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .inner-container {
            width: 75vw;
            height: 75vh;
        }
    </style>
</head>
<body>
<h1>Stock Price Correlations (01/01/2014 to 12/31/2018)</h1>
<div class="outer-container">
    <div class="inner-container" id="container"></div>
</div>
</body>
</html>
